name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Remove existing fastapi-container
        run: |
          docker rm -f fastapi-container || true

      - name: Build Docker image
        run: docker build -t fastapi-app .

      - name: Stop existing containers on port 8000
        run: |
          docker ps --filter "publish=8000" -q | xargs -r docker stop
          docker ps -a --filter "publish=8000" -q | xargs -r docker rm

      - name: Run Docker container
        run: docker run -d -p 8000:8000 fastapi-app

      - name: Terraform Apply
        run: |
          terraform init
          terraform apply -auto-approve
        working-directory: terraform