name: .NET CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Restore
        run: dotnet restore ./OrdersAPI/OrdersAPI/OrdersAPI.csproj
      - name: Build
        run: dotnet build --no-restore ./OrdersAPI/OrdersAPI/OrdersAPI.csproj
      - name: Test
        run: dotnet test ./OrdersAPI/OrdersAPI/OrdersAPI.csproj
      - name: Publish
        run: dotnet publish -c Release -o publish ./OrdersAPI/OrdersAPI/OrdersAPI.csproj
      - name: Build Docker image
        run: docker build -t orders-api ./OrdersAPI/OrdersAPI
