name: Test Runner

on: [push]

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Change to repo root
        run: cd $GITHUB_WORKSPACE
      - name: Build Docker
        run: docker build -t fastapi-app .
        